@import "./style/nav.css";
@import "./style/main.css";
@import "./style/media.css";
@import "./style/skills.css";
@import "./style/About_me.css";
@import "./style/contacts.css";
@import './style/projects.css';

html {
  scroll-behavior: smooth;
}
* {
  margin: 0px;
  padding: 0px;
  font-family: Sora;
  box-sizing: border-box;
}
body {
  /* background-image: url("./img/pexels-felix-mittermeier-956999.jpg"); */
  /* background: linear-gradient(135deg, #141e30, #243b55); */
  background-size: cover;
}


body {
  background: linear-gradient(-45deg, #141e30, #243b55, #1f1c2c, #2c5364);
  background-size: 400% 400%;
  animation: gradientShift 12s ease infinite;
  color: #eaeaea;
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
