footer {
    margin-top: 100px;
    width: 100%;
    height: 380px;
    background-color: #111827;
    color: white;
  
    box-sizing: border-box;
    padding: 40px;
    font-family: Cormorant Garamond;
    font-size: 20px;
    border-radius: 15px;
    transform: scale(1);
    transition: 1s;
  }
  #icons > .resume{
    display: none;
  }
  footer > h1 {
    text-align: center;
  }
  footer:hover {
    box-shadow: rgb(160, 206, 255) 0px 20px 30px -10px;
    background-color: #111840;
    transform: scale(1.03);
    transition: 2s;
    #instagram {
      border: 4px solid white;
    }
    #telegram {
      border: 4px solid white;
    }
    #Github {
      border: 4px solid white;
    }
    h4 {
      color: white;
    }
    h1 {
      color: white;
    }
  }
  #icons {
    display: flex;
  }
  #instagram {
    width: 200px;
    height: 200px;
    border: #fff 5px solid;
    border-radius: 15px;
    /* padding: 25px 50px; */
    margin-top: 50px;
    transform: scale(1);
    transition: 1s;
    border: #ffffff 3px solid;
    margin-left: 200px;
  }
  
  #instagram:hover {
    transform: scale(1.03);
    transition: 1s;
    background: linear-gradient(
      45deg,
      #feda75,
      #fa7e1e,
      #d62976,
      #962fbf,
      #4f5bd5
    );
    border: #d62976 3px solid;
    color: #111827;
    text-shadow: 0 0 4px #feda75, 0 0 8px #fa7e1e, 0 0 12px #d62976,
      0 0 16px #962fbf, 0 0 20px #4f5bd5;
    box-shadow: 0 0 10px #5fed83, 0 0 20px #3094ff, 0 0 30px #c06eff;
  }
  #instagram_icon {
    width: 90px;
    height: 90px;
    border-radius: 15px;
    margin-left: 50px;
    margin-top: 30px;
  }
  #telegram {
    width: 200px;
    height: 200px;
    border: #fff 5px solid;
    border-radius: 15px;
    /* padding: 25px 50px; */
    margin-top: 50px;
    transform: scale(1);
    transition: 1s;
    border: #ffffff 3px solid;
    margin-left: 200px;
  }
  #telegram:hover {
    transform: scale(1.03);
    transition: 1s;
    background: linear-gradient(45deg, #37aee2, #1e96c8);
    color: #111827;
    text-shadow: 0 0 6px #2aabee, 0 0 12px #229ed9;
    box-shadow: 0 0 10px #5fed83, 0 0 20px #3094ff, 0 0 30px #c06eff;
  }
  
  #Github {
    width: 200px;
    height: 200px;
    border: #fff 5px solid;
    border-radius: 15px;
    /* padding: 25px 50px; */
    margin-top: 50px;
    transform: scale(1);
    transition: 1s;
    border: #ffffff 3px solid;
    margin-left: 200px;
  }
  #Github_icon {
    width: 90px;
    height: 90px;
    border-radius: 15px;
    margin-left: 50px;
    margin-top: 30px;
    transform: scale(1.05);
    transition: 2s;
  }
  #Github:hover {
    background-color: black;
    transform: scale(1.03);
    transition: 1s;
    color: white;
    text-shadow: 0 0 6px #5fed83, 0 0 12px #08872b;
  
    box-shadow: 0 0 10px #5fed83, 0 0 20px #3094ff, 0 0 30px #c06eff;
  }
  #instagram > h4 {
    margin-top: 10px;
    margin-left: 35px;
  }
  #telegram_icon {
    width: 90px;
    height: 90px;
    border-radius: 15px;
    margin-left: 50px;
    margin-top: 30px;
    transform: scale(1.05);
    transition: 2s;
  }
  #telegram > h4 {
    margin-top: 10px;
    margin-left: 43px;
  }
  #telegram:hover a img {
    transform: scale(1.05);
    transition: 2s;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
  #Github > h4 {
    margin-top: 10px;
    margin-left: 55px;
  }
  #Github:hover a img {
    transform: scale(1.05);
    transition: 2s;
    box-shadow: 0 0 10px #5fed83, 0 0 20px #3094ff, 0 0 30px #c06eff;
  }

  