#main_img {
    width: 390px;
    height: 440px;
    transform: scale(1.1);
    transition: 5s;
    border-radius: 50px;
    filter: drop-shadow(0 0 0.75rem crimson);
  }
  #main_img:hover {
    transform: scale(1.2);
    transition: 2s;
  }
  .main_page {
    margin-top: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .main_page {
    transition: transform 0.5s ease-out;
  
    font-weight: bold;
  }
  .picture {
    position: relative;
    padding: 40px;
  }
  
  .picture::before {
    content: "";
    position: absolute;
    inset: -12px;
    border: 5px solid white;
  
    border-radius: 50%;
    animation: spin 12s linear infinite;
  }
  
  @keyframes spin {
    to {
      transform: rotate(-360deg);
    }
  }
  
  #main_img {
    position: relative;
  }
  
  
  .text {
    background-color: #111827;
    padding: 50px;
    border-radius: 15px;
    height: 520px;
    box-sizing: border-box;
    transform: scale(1);
    transition: 2s;
    box-shadow: rgba(253, 252, 253, 0.4) 5px 5px, rgba(249, 162, 162, 0.3) 10px 10px, rgba(236, 169, 211, 0.2) 15px 15px, rgba(255, 255, 255, 0.1) 20px 20px, rgba(255, 255, 255, 0.05) 25px 25px;
  }
  .text > h2 {
    font-size: 40px;
    line-height: 50px;
  }
  .span1 {
    font-weight: 400;
    color: #fff;
  }
  .span2 {
    font-weight: 700;
    color: blueviolet;
  }
  .span3 {
    color: white;
    text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black,
      2px 2px 0 black;
  }
  .about_developing {
    /* margin-top: 50px; */
    width: 700px;
    color: #fff;
    line-height: 30px;
    font-size: 16px;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }
  .span2 {
    background: linear-gradient(90deg, #00dbde, #fc00ff);
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: move 4s linear infinite;
  }
  
  @keyframes move {
    0% {
      background-position: 0%;
    }
    100% {
      background-position: 200%;
    }
  }

