

@media (max-width: 1200px) {
  .container {
    padding: 0px;
    margin: 0px;
    margin: 50px 50px;
  }
  nav {
    width: 1050px;
    margin-top: 50px;
    margin-left: 40px;
  }

  #logo {
    margin-left: -10px;
  }
  .btn {
    width: 125px;
    height: 37px;
    font-size: 15px;
  }
  h3 {
    font-size: 17px;
    margin-left: 20px;
  }

  ul > li {
    font-size: 15px;
  }
  .text {
    padding: 0px;
    padding-top: 30px;
    padding-left: 40px;
    padding-right: 40px;
    width: 700px;
    height: 450px;

    box-sizing: border-box;
  }

  .main_page {
    display: flex;
    margin-left: 50px;
  }
  .main_page > .text > h2 > span {
    font-size: 24px;
  }
  .text {
    width: 1050px;
    height: 470px;
  }
  .about_developing {
    width: 450px;
    height: 430px;
    font-size: 13px;
  }
  #main_img {
    margin-left: 120px;
    width: 345px;
    height: 380px;
  }
  .picture::before {
    display: none;
  }

  #Skills {
    width: 1100px;
    margin-left: -0px;
  }
  #About_me {
    width: 1100px;
    font-size: 14px;

    .text2 {
      width: 400px;
      font-size: 12px;
    }
  }
  #My_projects {
    width: 1100px;
  }
  .todo_img {
    width: 150px;
    height: 100px;
   
    margin-right: 40px;
  }

  .Uzum_text > h1 {
    margin-left: 70px;
  }

  .uzum_img {
    width: 0px;
    height: 00px;
    margin-left: 40px;
  }
  .todo > h1 {
    margin-left: 60px;
  }
  .portfolio > h1 {
    margin-left: 60px;
  }

  #Contact {
    width: 1100px;
    height: 330px;
  }
  #instagram {
    width: 190px;
    margin: 0px;
   margin-left: 5px !important;
  }
  #telegram {
    width: 190px;
    margin: 0px;
  }

  #Github {
    width: 190px;
    margin: 0px;
  }
  #instagram_icon {
    width: 65px;
    height: 65px;
  }
  #telegram_icon {
    width: 65px;
    height: 65px;
  }
  #Github_icon {
    width: 65px;
    height: 65px;
  }
  #Github > h4 {
    font-size: 16px;
    margin-top: 25px;
    margin-left: 65px !important;
    margin-top: 20px !important;
  }
  #telegram > h4 {
    font-size: 16px;
    margin-top: 25px;
    margin-left: 50px !important;
    margin-top: 20px !important;
  }
  #instagram > h4 {
    font-size: 16px;
    margin-top: 25px;
    margin-left: 45px !important;
    margin-top: 20px !important;
  }
  #icons {
  box-sizing: border-box;
  margin-top: -20px;
  }

  #main_img {
    position: relative;
  }
}

@media (max-width: 1024px) {
  .container {
    padding: 0px;
    margin: 0px;
    margin: 50px 50px;
  }
  nav {
    width: 920px;
    margin-top: 30px;
    margin-left: 10px;
  }

  #logo {
    margin-left: 5px;
  }
  .btn {
    width: 105px;
    height: 35px;
    font-size: 13px;
    margin-left: 15px;
  }
  h3 {
    font-size: 18xpx;
    margin-right: 35px;
  }
  ul {
    width: 500px;
  }
  ul > li > a {
    width: auto;
    font-size: 13px;
    white-space: nowrap;
    margin-left: -5px;
  }
  .text {
    padding: 0px;
    padding-top: 30px;
    padding-left: 40px;
    padding-right: 40px;
    width: 430px;
    height: 575px;
    margin-left: -50px;
    box-sizing: border-box;
  }
  .about_developing {
    font-size: 13px;
    width: 350px;
  }

  h2 > span {
    font-size: 22px;
    white-space: nowrap;
    height: 50px;
    line-height: 0.9;
  }
  #main_img {
    width: 340px;
    height: 400px;
    margin: 0px;
    margin-left: 20px;
  }
  #Skills {
    width: 940px !important;
    margin-left: 0px !important;
  }
  .imgs {
    width: 130px;
    height: 130px;
  }
  #About_me {
    width: 925px;
    font-size: 14px;
  }
  .img_person {
    width: 400px;
  }
  #My_projects {
    width: 925px;
  }
  .uzum_img {
    width: 280px !important;
    height: 150px !important;
  }
  .uzum{
    margin-left: -50px !important;
  }
  .todo_img {
    width: 250px !important;
    height: 250px !important;
    margin-left: 40px;
  }

  .portfolio_text {
    width: 500px !important;
    font-size: 13px;
    padding: 0px;
    padding-left: 10px;
    padding-top: 10px;
  
  }
  .portfolio_img {
    width: 220px !important;
    height: 250px !important;
    margin-left: 30px;
  }
  .third_project{
    margin-left: -50px !important;
  }
  .second{
    margin-left: 70px;
  }

  .portfolio {
    margin-left: 50px !important;
  }

  #Contact {
    width: 925px;
    margin: 0px;
    margin-top: 50px;
  }
  #instagram {
  width: 200px !important;
    

  }
  #telegram {
    width: 150px;
    margin: 0px;
    height: 160px !important;
    margin-top: 10px;
  }

  #Github {
    width: 150px;
  
  }
  #instagram_icon {
    width: 60px !important;
    height: 60px !important;
    margin-left: 40px !important;
  }
  #telegram_icon {
    width: 60px !important;
    height: 60px !important;
    margin-left: 40px !important;
  }
  #Github_icon {
    width: 60px !important;
    height: 60px !important;
    margin-left: 40px !important;
  }
  #Github > h4 {
    font-size: 16px ;
    margin-top: 25px;
    margin-left: 40px !important;
  }
  #telegram > h4 {
    font-size: 16px;
    margin-top: 25px;
    margin-left: 30px !important;
  }
  #instagram > h4 {
    font-size: 16px;
    margin-top: 25px;
    margin-left: 20px !important;
  }
  #icons {
   box-sizing: border-box;
  
  }
  #About_me {
    margin-top: 200px;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0px;
    margin: 0px;
  }
  nav {
    width: 102%;
    margin-left: 38px;
  }
  #logo {
    width: 30px;
    height: 30px;
  }

  .text {
    width: 400px;
  }
  .text > .span {
    font-size: 10px;
    line-height: 1;
  }

  .main_page {
    margin-left: 63px;
  }

  #main_img {
    width: 255px;
    height: 300px;
    margin-left: 10px;
  }
  #Skills {
    width: 700px !important;
    padding: 25px 25px;
    margin-left: 50px !important;
  }
  .project_img {
    width: 150px !important;
    height: 150px !important;
  }
  .uzum_img {
    width: 200px !important;
    height: 100px !important;
  }
  #project_text{
    width: 300px !important;
    font-size: 13px;
  }
  .third_project{
    width: 700px;
    margin-left: -25px !important;
  }
  .Uzum_text{
    width: 400px !important;
    font-size: 13px;
  }
  li > :first-child {
    margin-left: 10px;
  }
  ul {
    margin-left: 30px;
  }
  ul > li {
    margin-left: -56px;
  }
  #About_me {
    width: 700px;
    margin-left: 50px;
    margin-top: -1px;
    margin-top: 50px;
  }
  #My_projects {
    width: 700px;
    margin-left: 50px;
  }

  #project_text {
    width: 390px;
    margin-left: 30px;
    font-size: 11px;
  }
  .img_person {
    width: 200px;
    height: 200px;
  }
  .images > .imgs {
    width: 80px;
    height: 80px;
  }
 
 
  #Contact {
    width: 700px;
    height: 260px;
    margin-left: 50px;
  }
 
#icons{
margin-left: -30px !important;
  margin-top: -10px;
  display: flex;
  gap: 100px;
}
  #instagram {
    width: 150px !important;
    height: 110px !important ;
  }
  #telegram {
    width: 150px !important;
    height: 110px !important;
    margin-left: 30px !important;

  }
  #instagram > h4 {
    display: none;
  }
  #telegram > h4 {
    display: none;
  }
  #Github > h4 {
    display: none;
  }
  #Contact > h1 {
    font-size: 25px;
  }

  #instagram_icon {
    width: 40px;
    height: 40px;
    margin: 0px;
    margin-left: 37px !important;
    margin-top: 20px !important;
  }
  #telegram_icon {
    width: 40px;
    height: 40px;
    margin: 0px;
    margin-left: 37px !important;
    margin-top: 20px !important;

  }
  #Github {
    width: 150px !important;
    height: 110px !important ;
    margin-left: -5px !important;
  }
  #Github_icon {
    width: 40px ;
    height: 40px ;
    margin: 0px ;
    margin-left:37px !important ;
margin-top: 20px !important;
  }
}

@media (max-width: 414px) {
  .container {
    padding: 0px;
    margin: 0px;
  }
  nav {
    width: 530px;
    margin-left: 50px;
  }
  nav > a{
    display: none;
  }
  footer > a {
    display: block;
  }

  /* nav > h3{
      display: none;
    } */
  ul li {
    width: 30px;
  }
  li > a {
    font-size: 13px !important;
  }
  ul {
    margin-left: 40px;
  }
  /* nav > a {
      display: none;
    } */
  .main_page {
    display: block;
  }
  .text {
    padding-left: 50px;
    width: 580px;
    height: 650px;
    margin-top: 950px;
    margin-left: -50px;
  }
  .about_developing {
    width: 400px;
    font-size: 18px;
  }
  .span {
    font-size: 35px !important;
  }

  .picture {
    position: absolute;
    margin-left: 2px;
    margin-top: -1500px;
    left: -55px;
  }
  .main_page {
    pointer-events: none;
  }
  #main_img {
    width: 500px;
    height: 560px;
  margin-left: 60px;
  }
  #Skills {
    width: 600px !important;
   margin-left: 7px !important;
  }
  .images {
    margin-top: -60px;
  }

  #About_me {
    width: 600px;
    height: 1300px !important;
    padding-left: 30px;
    display: block !important;
    margin-left: 7px;
    margin-top: 120px !important;
  }
  .img_person {
    margin-top: 15px !important;
    margin-left: 110px;
    width: 300px !important;
    height: 300px !important;
  }
  .text2 {
    width: 500px !important;
    height: 200px;
    font-size: 20px !important;
  }

  #My_projects{
    width: 630px !important;
 margin-left: 5px;
  }
  .uzum{
    margin-left: -50px;
  }
  .uzum_img {
    width: 200px !important;
    height: 100px !important;
   
  }
  .Uzum_text{
    width: 300px !important;
    font-size: 10px;
    height: 210px;
  }
  .second {
    margin-top: 100px !important;
  margin-left: 40px;
  }
  .todo{
    width: 350px !important;
    font-size: 13px;
    height: 170px;
    margin-top:80px;
 }
 .third_project {
margin-left: -50px !important;
 }
 .portfolio {
 padding-left: -100px;
  width: 400px !important;
  font-size: 13px;
  height: 180px;
  margin-left: -30px !important;
 }


  footer {
    display: block;
    flex-direction: column;
    width: 600px !important;
    height: auto !important;
    margin-left: 7px !important;
    background: transparent !important;
    border: 5px solid #111827;
  }
  #icons{

  
  display: block !important;
  flex-direction: column !important;
margin-left: 150px !important;
  }
  #instagram{
    margin-left: 30px !important;
  }
  #Github{
    margin-left: 30px !important;
  }
  #icons > a{
    display: block !important;

    margin-top: 50px;
   
  }
  .resume .btn{
    width: 200px;
    height: 150px;
    font-size: 25px;
    background: transparent;
    color: white;
    border: 5px solid white;
  }
  .btn:hover{
    color: white;
    background-color: #111827;
  }
}
