@media (max-width: 1200px) {
    .container {
      padding: 0px;
      margin: 0px;
      margin: 50px 50px;
    }
    nav {
      width: 1050px;
      margin-top: 50px;
      margin-left: 40px;
      #logo {
        margin-left: -10px;
      }
      .btn {
        width: 125px;
        height: 37px;
        font-size: 15px;
      }
      h3 {
        font-size: 17px;
        margin-left: 20px;
      }
  
      ul > li {
        font-size: 15px;
      }
    }
    .text {
      padding: 0px;
      padding-top: 30px;
      padding-left: 40px;
      padding-right: 40px;
      width: 700px;
      height: 450px;
  
      box-sizing: border-box;
    }
  
    .main_page {
      display: flex;
      margin-left: 50px;
    }
    .main_page > .text > h2 > span {
      font-size: 24px;
    }
    .text {
      width: 1050px;
      height: 470px;
    }
    .about_developing {
      width: 450px;
      height: 430px;
      font-size: 13px;
    }
    #main_img {
      margin-left: 120px;
      width: 345px;
      height: 380px;
    }
    .picture::before {
      display: none;
    }
  
    #Skills {
      width: 1100px;
      margin-left: -0px;
    }
    #About_me {
      width: 1100px;
      font-size: 14px;
  
      .text2 {
        width: 400px;
        font-size: 12px;
      }
    }
    #My_projects {
      width: 1100px;
    }
    .todo_img {
      width: 150px;
      height: 100px;
      margin-top: 70px;
      margin-right: 40px;
    }
    #project_text {
      font-size: 13px;
      width: 610px;
      height: 200px;
      margin-left: 60px;
      padding: 0px;
      padding: 22px 17px;
    }
    .Uzum_text > h1 {
      margin-left: 70px;
    }
  
    .uzum_img {
      width: 0px;
      height: 00px;
      margin-left: 40px;
    }
    .todo > h1 {
      margin-left: 60px;
    }
    .portfolio > h1 {
      margin-left: 60px;
    }
  
    #Contact {
      width: 1100px;
      height: 330px;
    }
    #instagram {
      /* padding: 0px;
    width: 180px;
    height: 190px; */
      width: 190px;
      margin: 0px;
    }
    #telegram {
      width: 190px;
      margin: 0px;
    }
  
    #Github {
      width: 190px;
      margin: 0px;
    }
    #instagram_icon {
      width: 65px;
      height: 65px;
    }
    #telegram_icon {
      width: 65px;
      height: 65px;
    }
    #Github_icon {
      width: 65px;
      height: 65px;
    }
    #Github > h4 {
      font-size: 16px;
      margin-top: 25px;
      margin-left: 53px;
    }
    #telegram > h4 {
      font-size: 16px;
      margin-top: 25px;
      margin-left: 40px;
    }
    #instagram > h4 {
      font-size: 16px;
      margin-top: 25px;
      margin-left: 35px;
    }
    #icons {
      gap: 250px;
      box-sizing: border-box;
      margin-top: 20px;
    }
  
    #main_img {
      position: relative;
    }
  }
  
  @media (max-width: 1024px) {
    .container {
      padding: 0px;
      margin: 0px;
      margin: 50px 50px;
    }
    nav {
      width: 920px;
      margin-top: 30px;
      margin-left: 10px;
      #logo {
        margin-left: 5px;
      }
      .btn {
        width: 105px;
        height: 35px;
        font-size: 13px;
        margin-left: 15px;
      }
      h3 {
        font-size: 18xpx;
        margin-right: 35px;
      }
      ul {
        width: 500px;
      }
      ul > li > a {
        width: auto;
        font-size: 13px;
        white-space: nowrap;
        margin-left: -5px;
      }
    }
    .text {
      padding: 0px;
      padding-top: 30px;
      padding-left: 40px;
      padding-right: 40px;
      width: 430px;
      height: 575px;
      margin-left: -50px;
      box-sizing: border-box;
    }
    .about_developing {
      font-size: 13px;
      width: 350px;
    }
  
    h2 > span {
      font-size: 22px;
      white-space: nowrap;
      height: 50px;
      line-height: 0.9;
    }
    #main_img {
      width: 340px;
      height: 400px;
      margin: 0px;
      margin-left: 20px;
    }
    #Skills {
      width: 925px;
    }
    .imgs {
      width: 130px;
      height: 130px;
    }
    #About_me {
      width: 925px;
      font-size: 14px;
    }
    .img_person {
      width: 400px;
    }
    #My_projects {
      width: 925px;
    }
    .uzum_img {
      width: 300px !important;
      height: 180px !important;
    }
    .todo_img {
      width: 250px !important;
      height: 250px !important;
    }
    #project_text {
      width: 500px;
      font-size: 13px;
      padding: 0px;
      padding-left: 10px;
      padding-top: 10px;
    }
    .portfolio_img {
      width: 220px !important;
      height: 250px !important;
      margin-left: 30px;
    }
    .portfolio {
      margin-left: 80px;
    }
  
    #Contact {
      width: 925px;
      margin: 0px;
      margin-top: 50px;
    }
    #instagram {
      /* padding: 0px;
      width: 180px;
      height: 190px; */
      width: 190px;
      margin: 0px;
    }
    #telegram {
      width: 190px;
      margin: 0px;
      height: 170px;
      margin-top: 10px;
    }
  
    #Github {
      width: 190px;
      margin: 0px;
    }
    #instagram_icon {
      width: 60px;
      height: 60px;
      margin-left: 45px;
    }
    #telegram_icon {
      width: 60px;
      height: 60px;
      margin-left: 45px;
    }
    #Github_icon {
      width: 60px;
      height: 60px;
      margin-left: 45px;
    }
    #Github > h4 {
      font-size: 16px;
      margin-top: 25px;
      margin-left: 45px;
    }
    #telegram > h4 {
      font-size: 16px;
      margin-top: 25px;
      margin-left: 30px;
    }
    #instagram > h4 {
      font-size: 16px;
      margin-top: 25px;
      margin-left: 30px;
    }
    #icons {
      gap: 190px;
      box-sizing: border-box;
      margin-top: 20px;
    }
    #About_me {
      margin-top: 200px;
    }
  }
  
  @media (max-width: 768px) {
    .container {
      padding: 0px;
      margin: 0px;
    }
    nav {
      width: 102%;
      margin-left: 38px;
    }
    #logo {
      width: 30px;
      height: 30px;
    }
  
    .text {
      width: 400px;
    }
    .text > .span {
      font-size: 10px;
      line-height: 1;
    }
  
    .main_page {
      margin-left: 63px;
    }
  
    #main_img {
      width: 255px;
      height: 300px;
      margin-left: 10px;
    }
    #Skills {
      width: 700px;
      padding: 25px 25px;
      margin-left: 50px;
    }
    .project_img {
      width: 150px !important;
      height: 150px !important;
    }
    .uzum_img {
      width: 200px !important;
      height: 100px !important;
    }
    li > :first-child {
      margin-left: 10px;
    }
    ul {
      margin-left: 30px;
    }
    ul > li {
      margin-left: -56px;
    }
    #About_me {
      width: 700px;
      margin-left: 50px;
      margin-top: -1px;
      margin-top: 50px;
    }
    #My_projects {
      width: 700px;
      margin-left: 50px;
    }
  
    #project_text {
      width: 390px;
      margin-left: 30px;
      font-size: 11px;
    }
  
    #Contact {
      width: 700px;
      height: 200px;
      margin-left: 50px;
    }
    .img_person {
      width: 200px;
      height: 200px;
    }
    .images > .imgs {
      width: 80px;
      height: 80px;
    }
  
    #instagram {
      width: 120px;
      height: 90px;
    }
    #telegram {
      width: 120px;
      height: 90px;
      margin: 0px;
    }
    #instagram > h4 {
      display: none;
    }
    #telegram > h4 {
      display: none;
    }
    #Github > h4 {
      display: none;
    }
    #Contact > h1 {
      font-size: 15px;
    }
  
    #instagram_icon {
      width: 40px;
      height: 40px;
      margin: 0px;
      margin-left: 19px;
      margin-top: 17px;
    }
    #telegram_icon {
      width: 40px;
      height: 40px;
      margin: 0px;
      margin-left: 19px;
      margin-top: 17px;
    }
    #Github {
      width: 120px;
      height: 90px;
    }
    #Github_icon {
      width: 40px;
      height: 40px;
      margin: 0px;
      margin-left: 19px;
      margin-top: 17px;
    }
  }

  @media (max-width: 414px ){
    .container {
        padding: 0px;
        margin: 0px;
      }
    nav{
      width: 700px;
      margin-left: 30px;
    }
  
    /* nav > h3{
      display: none;
    } */
    ul li{
     
      width: 45px;
 
    }
    li > a{
      font-size: 15px !important;
    }
    ul{
      margin-left: 40px;
    }
    /* nav > a {
      display: none;
    } */
    .main_page{
      display: block;
    }
    .text{
      padding-left: 50px;
      width: 600px;
      height: 650px;
      margin-top: 900px;
      margin-left: 15px;
      
    }
    .about_developing
    {
      width: 400px;
      font-size: 18px;
    }
    .span{
      font-size: 35px !important;
    }

    .picture{
      position: absolute;
   margin-left: 2px;
margin-top: -1450px;
     left: -55px;

    }
    .main_page{
      pointer-events: none;
   
    }
    #main_img{
      width: 550px;
      height: 650px;
      margin-left: 120px;
    }
  #Skills{
   width: 650px;
   height: 940px;
padding: 0px;
margin: 0px;
margin-top: 100px;
margin-left: 70px;
h1{
  font-size: 50px;
padding-top: 20px;
}
    }

    .images{
     padding: 50px 50px;
      margin-top: 20px ;
   
    }
    .imgs{
      width: 120px !important;
      height: 120px !important;
    }

    #About_me{
      width: 650px;
      height: 1300px !important;
      padding-left: 30px;
     display: block !important;
     margin-left: 70px;
     margin-top: 120px !important;
    }
   .img_person{
    margin-top: 15px !important;
    margin-left: 110px;
      width: 300px !important;
    height: 300px !important;
   }
    .text2{
      width: 500px  !important;
height: 200px;
      font-size: 20px !important;
    }
   
    #My_projects{
      width: 650px !important;
      margin-left: 70px;
      height: 1950px !important;
 display: block;
 h1{
  display: none;
 }
 .project_section{
  display: block;
 }
.uzum{
  display: block;
 }
 .todo{
  display: block !important;
 }


#project_text{
  padding: 0px;
  padding-left: 10px;
  padding-top: 20px;
margin-top: 100px;
width: 500px;
height: 280px;
font-size: 17px;
margin-left: 50px;
  
}
.uzum_img{
  width: 395px !important;
  height: 230px !important;
  margin-left: 100px;
}

.todo_img{
width: 300px !important;
height: 250px !important;
position: absolute;
top: 660px;
left: 150px;

}
.third_project{
  display: block !important;
.portfolio_img{
  width: 300px !important;
  height: 250px !important;
  margin-top: -100px;
  margin-left: 150px;
}

  .portfolio_text{
    margin-top: -10px !important;
    margin-left: -20px !important;
  }
}

}


footer{
 display: none;
}
    }
       
      
   


