#logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transform: scale(1);
    transition: 1s;
  }
  .navbar > h3 {
    margin-left: 10px;
    font-size: 26px;
  }
  #logo:hover {
    transform: scale(1.1);
    transition: 1s;
    box-shadow: 5px 5px 6px rgb(241, 4, 43);
  }
  .container {
    width: 90%;
    height: 100vh;
    margin: 50px 100px;
  }
  
  nav {
    margin-top: -10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #111827;
    width: 80%;
    padding: 15px;
    border-radius: 20px;
    padding-left: 10px;
    margin-left: 150px;
    transform: scale(1);
    transition: 2s;
  }
  .menu-icon {
    display: none;
   width: 30px;
    cursor: pointer;
    margin: 20px;
  } 
  footer > a {
    display: none;
  }
  
  .menu-icon span {
    display: block;
    height: 3px;
    background: white;
    margin: 6px 0;
    transition: 0.3s;
  }
  nav:hover {
    li > a {
      color: #fff;
    }
    h3 {
      color: green;
    }
    .btn {
      color: white;
      background-color: #111827;
    }
    .btn:hover {
      color: #111827;
      background-color: white;
    }
    transform: scale(1.05);
    transition: 2s;
    background-color: #111840;
  
    box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px,
      rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px,
      rgba(240, 46, 170, 0.05) 0px 25px;
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px,
      rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px,
      rgba(240, 46, 170, 0.05) 25px 25px;
  }
  
  nav > h3 {
    font-size: 20px;
    margin-left: -100px;
  }
  nav > ul {
    display: flex;
    font-size: 18px;
    gap: 100px;
  }
  
  .btn {
    width: 153px;
    height: 43px;
    border: none;
    background-color: white;
    color: #000000;
    border-radius: 10px;
    transform: scale(1);
    transition: 1s;
  }
  .btn:hover {
    transform: scale(1.1);
    transition: 1.5s;
    box-shadow: 5px 5px 6px pink;
    font-size: 20px;
  }
  li {
    text-decoration: none;
    list-style-type: none;
    transform: scale(1);
    transition: 1s;
  }
  a {
    text-decoration: none;
    list-style-type: none;
    color: white;
    scroll-behavior: smooth;
  }
  a:hover {
    text-shadow: #111827;
  }
  li:hover {
    transform: scale(1.1);
    transition: 1s;
    cursor: pointer;
    text-shadow: 2px 2px 3px rgb(253, 250, 250);
    box-shadow: rgba(255, 6, 6, 0.651) 0px 22px 70px 4px;
  }

 