#My_projects {
  width: 100%;
  background-color: #111827;
  margin-top: 150px;
  padding-bottom: 40px;
  border-radius: 10px;
}
.project_section {
  text-align: center;
  color: orange;
  box-sizing: border-box;
  padding-top: 70px;
}

.uzum {
  display: flex;
  justify-content: space-around;
  color: burlywood;
  align-items: center;
  margin-top: 20px;
}
.Uzum_text {
  margin-top: 70px;
  width: 600px;
  background-color: rgb(80, 12, 144);
  border-radius: 10px;
  padding-left: 20px;
  padding-bottom: 20px;
}
.uzum_img {
  width: 400px;
  height: 200px;
  margin-top: 100px;
  border-radius: 15px;
}
.todo {
    margin-left: -50px;
  width: 600px;
  background-color: rgb(223, 223, 223);
  color: #111827;
  border-radius: 10px;
  padding-left: 20px;
  padding-bottom: 20px;
}
.third_project{
    margin-top: 200px;
    color: #111827;
    border-radius: 10px;
    padding-left: 20px;
    padding-bottom: 20px;
    margin-left: 30px;
}

.portfolio {
  
  width: 600px;
  background-color: rgb(5, 93, 93);
  border-radius: 10px;
  padding-left: 20px;
  padding-bottom: 20px;
}
.second {
  margin-top: 200px;
  color: burlywood;
}

.third_project {
  display: flex;
  justify-content: space-around;
  color: burlywood;
}
